src/DataAccess/Data/Tarifa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="ArrayOfTarifa">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Tarifa">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Desde" type="xs:date" />
							<xs:element name="Hasta" type="xs:date" />
							<xs:element name="MontoKilometro" type="xs:unsignedShort" />
							<xs:element name="Coeficientes">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="Coeficiente">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NivelTarifario" type="xs:string" />
													<xs:element name="Valor" type="xs:unsignedByte" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:unsignedByte" use="required" />
						<xs:attribute name="Bloqueado" type="xs:boolean" use="required" />
						<xs:attribute name="Eliminado" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xsd:schema>